modules = ["nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MAX_POSITION_SIZE_PCT = "0.4"
MAX_OPEN_POSITIONS = "2"
MIN_TRADE_ETH = "0.001"
SLIPPAGE_PCT = "5"
GAS_LIMIT = "500000"
GAS_PRICE_GWEI = "0"
TP1_PCT = "25"
TP1_SELL_PCT = "30"
TP2_PCT = "50"
TP2_SELL_PCT = "30"
TP3_PCT = "100"
TP3_SELL_PCT = "20"
SL_PCT = "15"
TRAILING_ACTIVATE_PCT = "20"
TRAILING_DISTANCE_PCT = "5"
TIME_EXIT_HOURS = "2"
TIME_EXIT_MIN_PROFIT_PCT = "5"
MIN_LIQUIDITY_USD = "5000"
MAX_TAX_PCT = "10"
MAX_RISK_SCORE = "30"
HOLDER_CONCENTRATION_THRESHOLD = "30"
MONITOR_INTERVAL_MS = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Sniper Bot"

[[workflows.workflow]]
name = "Sniper Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"
